<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generation And Validation of Exam Card</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <style>
        main{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
        .main-body{
            box-shadow: 0 .5rem 1rem rgba(0,0,0, .3);
            padding: 30px 20px 30px 20px;
            border-radius: 20px;
        }
        .btn:hover{
            position: relative;
            top: 5px;
        }
    </style>
</head>
<body>
    <main>
        <div class="main-body text-center">
            <h2>Want to Generate and Validate Exam QR Code?</h2>
            <br><br>
            <a href="/generate" class="btn btn-dark">Get Started :)</a>
        </div>
    </main>
</body>
</html>